<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <!-- Разрешения для местоположения -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- Разрешения для интернета и сети (для загрузки тайлов) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Разрешения для хранилища -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Для Android 13+ уведомления -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Для Bluetooth -->
    <!-- Для Android 10-11 -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- Для Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="31" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapPoint">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MapPoint">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Провайдер для osmdroid -->
        <meta-data
            android:name="org.osmdroid.config"
            android:value="true" />
        <meta-data
            android:name="android.osmdroid.basePath"
            android:value="/storage/emulated/0/Android/data/com.mappoint/files/osmdroid" />
        <meta-data
            android:name="android.osmdroid.tileDownloadThreads"
            android:value="2" />
        <meta-data
            android:name="android.osmdroid.tileDownloadMaxQueueSize"
            android:value="1000" />
    </application>

</manifest>